.header nav ul li a.new-task {
   background-color: #0075F2;
   border: 1px solid #0075F2;
}

.header nav ul li a.new-task:hover {
   background-color: #0075F2;
   border: 1px solid #0075F2;
   color: #D3D5D7;
}

.header nav ul li a.new-task.active {
   background-color: #76B041;
   color: #D3D5D7;
}

.header nav ul li a.new-task.active:hover {
   background-color: #0075F2;
   color: #D3D5D7;
}

.form.task div input, .form.task .textarea {
   width: 600px;
   max-width: 100%;
   min-width: 100px;
   box-sizing: border-box;
}

.form.task .textarea {
   width: 600px;
   max-width: 600px;
   min-width: 100px;
   resize: vertical;
   font-size: 1rem;
}

.tasks-list {
   list-style: none;
   margin: 0;
   padding: 0;
}

.tasks-list li {
   border-bottom: 1px solid #D3D5D755;
}

.tasks-list li:last-child {
   border-bottom: none;
}

.task-item {
   display: flex;
   justify-content: space-between;
   gap: 10px;
   align-items: center;   
}

.task-item p:nth-child(1) {
   width: 200px;
   text-align: left;
}

.task-item p:nth-child(2) {
   flex-grow: 1;
}

.task-item p:nth-child(3) {
   width: 100px;
}

.task-item .task-completed {
   display: flex;
   align-items: center;
}

.task-item .task-completed input {
   width: 20px;
   height: 20px;
}

.task-item .task-buttons {
   display: flex;
   gap: 10px;
}

.task-item .task-buttons button {
   padding: 5px 10px;
   cursor: pointer;
}

.task-item .task-buttons button.task-button-edit {
   background-color: #76B041;
}

.task-item .task-buttons button.task-button-delete {
   background-color: #E4572E;
}