.header nav ul li a.new-task {
   background-color: #0075F2;
   border: 1px solid #0075F2;
}

.header nav ul li a.new-task:hover {
   background-color: #0075F2;
   border: 1px solid #0075F2;
   color: #D3D5D7;
}

.header nav ul li a.new-task.active {
   background-color: #76B041;
   color: #D3D5D7;
}

.header nav ul li a.new-task.active:hover {
   background-color: #0075F2;
   color: #D3D5D7;
}