/* --flame: #e4572eff;
--platinum: #d3d5d7ff;
--blue-crayola: #0075f2ff;
--raisin-black: #2e282aff;
--kelly-green: #76b041ff; */

.App {
  text-align: center;
  background-color: #2E282A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  color: #D3D5D7;
}